.content {
    margin: auto;
    max-width: 1280px;
}

:root {
    font-family: 'Space Grotesk', sans-serif, system-ui, Avenir, Helvetica,
        Arial, sans-serif;
    font-optical-sizing: auto;
    color: #ffffff;
    background-color: #000000;
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background: #333333;
    -webkit-border-radius: 4ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #222;
}

code {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
