node_modules
dist
dist-ssr
*.local
target
.cargo
*.sqlite
generated
stats.html
shared

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
log.txt
yarn-debug.log*
yarn-error.log*

# Env
.env*