# Logs
logs
*.log
log.txt
yarn-debug.log*
yarn-error.log*

node_modules
dist
dist-ssr
*.local
static

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
